/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
	background: #293f50;
	color: #888;
	font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.container{
	margin: 0 auto;
	width: 960px;
}
.container {
	padding-left: 30px;
	padding-right: 30px;
}



/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	clear: both;
	*zoom: 1;
}

/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt{
	min-width: 960px;
}

.row {
	background: #fff;
	padding: 66px 0 44px 0;
}

.row-alt {
   background: #cbe2c1;
   background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
   background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
   background: linear-gradient(to right, #a1d3b0, #f6f1d3);
   padding: 60px 0 250px 0;
 }


 }

/*
  ========================================
  Typography
  ========================================
*/

h1, h3,h4,p{
  margin-bottom: 22px;
}

h1,h3,h4{
	color: #648880;
}

h1 {
	font-size: 36px;
	line-height: 44px;
}

h3 {
	font-size: 21px;
}

h4 {
  font-size: 18px;
}

strong {
	font-weight: 400;
}

cite, em {
	font-style: italic;
}

.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
  font-style: italic;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

/*
  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}

.lead p {
  font-size: 21px;
  line-height: 33px;
}

/*
  ========================================
  Links
  ========================================
*/

a {
	color: #648880;
	text-decoration: none;
}

a:hover {
	color: #a9b2b9;
}

p a {
	border-bottom: 1px solid #dfe2e5;
}

.primary-header a{
	color: #fff;
}

.primary-header a:hover{
	color: #648880;
}

/*
  ========================================
  Primary header
  ========================================
*/

.logo {
	border-top: 4px solid #648880;
	float: left;
	font-size: 28px;
	font-weight: 100;
	letter-spacing: .5px;
	line-height: 44px;
	padding: 40px 0 22px 0;
	text-transform: uppercase;

}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}

.nav li {
	display: inline-block;
	margin: 0 10px;
	vertical-align: top;
}

.nav li:last-child {
	margin-right: 0;
}

/*
  ========================================
  Reviews
  ========================================
*/

table {
	margin-bottom: 44px;
	width: 100%;
}

table:last-child {
	margin-bottom: 0;
}

th,
td {
  padding-bottom: 22px;
  vertical-align: top;
}
th {
  padding-right: 45px;
  text-align: right;
  width: 20%;
}
td {
  width: 60%;
}

thead {
  line-height: 44px;
}
thead th {
  color: #648880;
  font-size: 24px;
}

tbody th {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
  text-transform: uppercase;
}

tbody td {
  border-top: 1px solid #dfe2e5;
  padding-top: 21px;
}
tbody td:first-of-type {
  padding-right: 15px;
}
tbody td:last-of-type {
  padding-left: 15px;
}
tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}

table a {
  color: #888;
}
table h4 {
  margin-bottom: 0;
}

.schedule-offset {
  color: #a9b2b9;
}

/*
  ========================================
  Restaurant Card
  ========================================
*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70%;
  margin: 0 auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 2px 16px;
}

.card h4,p{
  color:#005580;
}
.card-link{
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}